.logo{
	width: 129px;
	height: auto;
}

#logoHair {
	height: 100px;
}

#logoLG {
	width: 195px;
}

#logoWhirlpool {
	width: 200px;
	height: 125px;
}

#logoHaceb {
	width: 170px;
	height: 90px;
}

#top1 {
	height: 190px;
}